<!DOCTYPE html>
<html lang="es-AR">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <h1>Lista de Animales</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Zona</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% animals.forEach(function(animal) { %>
                <tr>
                    <td><%= animal.id %></td>
                    <td><%= animal.name %></td>
                    <td><%= animal.age %></td>
                    <td><%= animal.zone %></td>
                    <td>
                        <a href="/edit/<%= animal.id %>">Editar</a>
                        <a href="/delete/<%= animal.id %>" onclick="return confirm('¿Estás seguro de que deseas eliminar este animal?');">Eliminar</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
