<!DOCTYPE html>
<html lang="es-AR">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <header>
    <h1>Detalles de <%= animal.name%></h1>
  </header>

  <main>
    <img src="<%= animal.image %>" alt="Imagen de <%= animal.name %>" />
    <p><strong>Sexo:</strong> <%= animal.sex %></p>
    <p><strong>Edad:</strong> <%= animal.age %></p>
    <p><strong>Zona:</strong> <%= animal.zone %></p>
    <a href="/animals.json/<%= animal.id %>">Ver detalles</a>
    <p><strong>Descripción:</strong> <%= animal.description %></p>
    <a href="/">Volver al inicio</a>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>

