<!DOCTYPE html>
<html lang="es-AR">

<%- include('../partials/head.admin.ejs') %>

  <body>
    <%- include('../partials/header.admin.ejs') %>

      <div class="container">
        <h1 class="fs-3">Editar Animal</h1>
        <form action="/animals/update/<%= animal.id %>?_method=PUT" method="POST" class="row" enctype="multipart/form-data">
          <!-- Imagen -->
          <div class="form-group mb-3 col-12 col-md-4">
            <img src="/images/<%= animal.image %>" alt="Imagen del Animal" class="img-fluid" id="image-prev">
            <input type="file" hidden class="form-control-file" id="image" name="image" accept="image/*" onchange="showPrev(this.files[0])">
          </div>
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="form-group mb-3 col-12 ">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= animal.name %>" required>
              </div>
              <!-- Descripción -->
              <div class="form-group mb-3 col-12 ">
                <label for="description">Descripción</label>
                <textarea class="form-control" id="description" style="resize: none;" name="description" rows="4"
                  required><%= animal.description %></textarea>
              </div>
  
              <!-- Categoría -->
              <div class="form-group mb-3 col-12  col-md-6">
                <label for="specieId">Especie</label>
                <select class="form-control" id="specieId" name="specieId" required>
                  <% species.forEach(specie=> { %>
                    <option value="<%= specie.id %>" <%=animal.specieId==specie.id && 'selected' %> ><%= specie.name %>
                    </option>
                    <% }) %>
                </select>
              </div>
  
              <!-- Tamaño -->
              <div class="form-group mb-3 col-12 col-md-6 ">
                <label for="age">Edad</label>
                <input type="text" class="form-control" id="age" name="age" value="<%= animal.age %>" required>
              </div>
  
              <div class="form-group mb-3 col-12 col-md-6 ">
                <label for="sex">Sexo</label>
                <select class="form-control" id="sex" name="sex" required>
                  <option value="Hembra" <%=animal.sex=='Hembra' && 'selected' %>>Hembra </option>
                  <option value="Macho" <%=animal.sex=='Macho' && 'selected' %>>Macho </option>
                </select>
              </div>
              <div class="form-group mb-3 col-12 col-md-6">
                <label for="cityId">Zona</label>
                <select class="form-control" id="cityId" name="cityId" required>
                  <% cities.forEach(city=> { %>
                    <option value="<%= city.id %>" <%=animal.cityId==city.id && 'selected' %> ><%= city.name %> (<%=
                          city.province %> )</option>
                    <% }) %>
                </select>
              </div>
              <div class="col-12 mt-3">
                <div class="d-flex justify-content-end gap-2">
                  <label class="btn btn-secondary" for="image">Cambiar imagen</label>
                  <button type="submit" class="btn btn-primary">Actualizar Animal</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <script>
        function showPrev(file) {
          let reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("image-prev").src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      </script>

  </body>

</html>