<!DOCTYPE html>
<html lang="es-AR">

<%- include('../partials/head') %>


<body class="container">
  <%- include('../partials/header') %>


    <main>
      <div class="titulo-container">
        <h1>¡Que bueno verte por acá!</h1>
        <p>Inicia sesión para acceder a tu perfil, ver tus fotos y descubrir nuevas formas de cuidar a tu mascota.</p>
      </div>
      <div class="caja-formulario">
        <form action="/users/login" method="POST"> <!-- Agregado action y method -->
          <div form="formulario">
            <label for="Email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Email">
            <p style="color: red; margin: 10px 0;"><%= (locals.errors && errors.email) && errors.email.msg %></p>
            <label for="Email">Contraseña:</label>
            <input class="formulario-input" type="password" name="password" placeholder="Contraseña">
              <p style="color: red; margin: 10px 0;"><%= (locals.errors && errors.password) && errors.password.msg %></p>
          </div>
          <button class="boton-enviar" type="submit">Iniciar sesión</button>
        </form>
      
      </div>

      <div class="olvido-contrasena">
        ¿Olvidaste tu contraseña? <button class="click">Click acá</button>
      </div>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>