<!DOCTYPE html>
<html lang="es-AR">

<%- include('../partials/head') %>


<body class="container">
  <%- include('../partials/header') %>
  <main>
    <!-- Registro de usuario -->
    <div class="formulario">
      <h1>¡Bienvenido@ a la familia!</h1>
      <p>Para finalizar la adopción, por favor completa el siguiente formulario</p>
      <form action="/users/register" method="POST" >
        <div class="registro">
          <label for="username">Nombre:</label>
          <input type="text" name="name" placeholder="Ingresa tu nombre"  />
          <label for="username">Apellido:</label>
          <input type="text" name="surname" placeholder="Ingresa tu apellido"  />
          <label for="Email">Correo electronico:</label>
          <input type="email" name="email" id="email" placeholder="Ingresa tu email" />
          <label for="password">Contraseña:</label>
          <input type="password" name="password" placeholder="Ingresa tu contraseña"  />
          <label for="password2">Confirma tu contraseña:</label>
          <input type="password" name="password2" placeholder="Ingresa tu contraseña"  />
          <label for="phone">Teléfono:</label>
          <input type="number" id="phone" name="phone" placeholder="Ingresa tu teléfono" />
          <label for="Domicilio">Dirección:</label>
          <input type="text" id="Domicilio" name="address" placeholder="Domicilio" />
          <label for="text">Zona</label>
          <select id="text" name="cityId" >
            <option value="" hidden selected>Seleccione...</option>
            <% cities.forEach(city => { %>
             <option value="<%= city.id %>"><%= city.name %> / <%= city.province %> </option>
            <% }) %>
          </select>
          <button class="btn-submit" type="submit">Enviar</button>
        </div>
        <h2>¿Por qué registrarse?</h2>
        <p class="requisito">
          Porque es un requisito para formalizar la adopción. Nos permite
          mantener un registro transparente de todas las adopciones realizadas y
          garantiza el cumplimiento de nuestras políticas de bienestar animal.
        </p>
      </form>
  </main>
  <%- include('../partials/footer') %>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>